bin
obj
*.user
.vs
/WebRtcNative/include/webrtc/examples
/WebRtcNative/Debug
/WebRtcNative/Debug_x64
/WebRtcNative/Release
/WebRtcNative/Release_x64
/WebRtc.NET.sdf
/WebRtc.NET.VC.opendb
/WebRtc.NET.VC.db
/WebRtc.NET.VC.VC.opendb
/ipch
/WebRtcNative/lib/x64/Release/libwebrtc_full.lib
/WebRtcNative/lib/x86/Release/libwebrtc_full.lib
/WebRtcNative/lib/x64/Debug/libwebrtc_full.lib
/WebRtcNative/lib/x86/Debug/libwebrtc_full.lib
